@use 'variaveis' as *;
@use 'mixin' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-terciary;
  height: 6rem;
  padding: 4rem;
  @include container-size;

  .header__logo {
    width: 22rem;
  }

  .menu__items {
    display: flex;
    gap: 40px;

    li {
      a {
        color: $color-secondary;           
      }

      &:hover::first-letter {
        color: $color-primary; 
      }
    }
  }
}
