@use 'variaveis' as *;
@use 'mixin' as *;

.team {
  display: grid;
  padding: 10rem 5rem;
  gap: 8rem;
  @include container-size;
  padding-bottom: 12rem;
  align-items: center;

  &__title {    
    h2 {
      margin-bottom: 5rem;
    }
  }

  &__services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: space-betwen;  
    gap: 4rem;

    li {
      border: 1px solid $color-secondary;
      padding: 3rem 2rem;
      display: flex;
      justify-content: space-between;
      max-width: 40rem;
      transition: all .3s ease;

      &:hover {
        border: 1px solid $color-primary;
      }
    }
  }
}