@use "mixin" as *;
//color

$color-primary: #bc0014;
$color-secondary: #eee;
$color-terciary: #121111;

.color-primary {
  color: $color-primary;
}
.color-secondary {
  color: $color-secondary;
}
.color-terciary {
  color: $color-terciary;
}

//font
.defaut-font-primary {
  font: 400 3.6rem/1 'Roboto', sans-serif;
}
.defaut-font-secondary {
  font: 700 9.6rem/1 'Inter', sans-serif;
}
.menu-font-primary {
  font: 600 2rem/1 'Inter', sans-serif;
  text-transform: uppercase;
}
.menu-font-secondary {
  font: 500 2rem/1.5 'Inter', sans-serif;
}
.title-font-primary {
  font: 600 3.4rem/1 'Inter', sans-serif;
  text-transform: uppercase;

  @include respond(phone) {
    font: 600 4.4rem/1 'Inter', sans-serif;
  }

  @include respond(tab-port) {
    font: 600 5.4rem/1 'Inter', sans-serif;
  }

  @include respond(tab-land) {
    font: 600 6.4rem/1 'Inter', sans-serif;
  }
}
.title-font-secondary {
  font: 500 8rem/1.5 'Inter', sans-serif;
  text-transform: uppercase;

  @include respond(phone) {
    font: 600 8.8rem/1 'Inter', sans-serif;
  }

  @include respond(btn-broken){
    font: 600 9.8rem/1 'Inter', sans-serif;
  }

  @include respond(tab-port) {
    font: 600 10.8rem/1 'Inter', sans-serif;
  }

  @include respond(tab-land) {
    font: 600 12.8rem/1 'Inter', sans-serif;
  }
}
