.color-primary {
  color: #bc0014;
}

.color-secondary {
  color: #eee;
}

.color-terciary {
  color: #121111;
}

.defaut-font-primary {
  font: 400 3.6rem/1 "Roboto", sans-serif;
}

.defaut-font-secondary {
  font: 700 9.6rem/1 "Inter", sans-serif;
}

.menu-font-primary {
  font: 600 2rem/1 "Inter", sans-serif;
  text-transform: uppercase;
}

.menu-font-secondary {
  font: 500 2rem/1.5 "Inter", sans-serif;
}

.title-font-primary {
  font: 600 6.4rem/1 "Inter", sans-serif;
  text-transform: uppercase;
}

.title-font-secondary {
  font: 500 12.8rem/1.5 "Inter", sans-serif;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: #121111;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121111;
  height: 6rem;
  padding: 4rem;
  max-width: 140rem;
  margin: 0 auto;
  padding-inline: 2rem;
}
.header .header__logo {
  width: 22rem;
}
.header .menu__items {
  display: flex;
  gap: 40px;
}
.header .menu__items li a {
  color: #eee;
}
.header .menu__items li:hover::first-letter {
  color: #bc0014;
}

.home {
  background-color: #121111;
  display: flex;
  max-width: 140rem;
  margin: 0 auto;
  padding-inline: 2rem;
  padding: 0;
}
.home .home__left {
  display: flex;
  padding-bottom: 10rem;
  width: 50%;
  justify-content: end;
  align-items: flex-end;
}
.home .home__container {
  background-color: #bc0014;
  width: 70%;
  display: flex;
  position: relative;
}
.home .home__container__img-primary {
  padding: 0;
}
.home .home__container__img-primary img {
  object-fit: cover;
  max-width: 100%;
  object-position: right;
}
.home .home__container h1 {
  display: flex;
  flex-direction: column;
}
.home .home__container h1 span:first-child {
  position: absolute;
  left: -53rem;
  top: 10rem;
}
.home .home__container h1 span:nth-child(2) {
  position: absolute;
  left: -40rem;
  top: 12rem;
}
.home .home__container h1 span:nth-child(3) {
  position: absolute;
  left: -32rem;
  top: 22rem;
}
.home .home__container .home__img-secondary {
  position: absolute;
  bottom: -15rem;
  left: -15rem;
  width: clamp(10rem, 30vw, 30rem);
}

.btn {
  color: #d5d5d5;
  font-weight: 100;
  border: 1px solid #d5d5d5;
  padding: 2rem 5rem;
  padding-right: 15rem;
  margin-right: 18rem;
  align-self: end;
  position: relative;
  transition: all ease 0.3s;
}
.btn::after {
  content: "";
  display: block;
  background-image: url("/assets/img/Arrow 1.svg");
  top: 45%;
  right: 15%;
  width: 7.5rem;
  height: 1rem;
  position: absolute;
  color: #bc0014;
}
.btn::before {
  content: "";
  display: block;
  border: 1px solid #bc0014;
  top: -0.7rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all ease 0.3s;
}
.btn:hover::before {
  top: 0rem;
  left: 0rem;
}
.btn:hover {
  border: none;
}

.btn-black {
  color: black;
  font-weight: 100;
  border: 1px solid black;
  padding: 1.5rem;
  padding-right: 10rem;
  align-self: end;
  position: relative;
  transition: all ease 0.3s;
}
.btn-black::after {
  content: "";
  display: block;
  background-image: url("/assets/img/Arrow 2.svg");
  top: 45%;
  right: 15%;
  width: 4.5rem;
  height: 1rem;
  position: absolute;
  color: #121111;
}
.btn-black::before {
  content: "";
  display: block;
  border: 1px solid #bc0014;
  top: -0.7rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all ease 0.3s;
}
.btn-black:hover::before {
  top: 0rem;
  left: 0rem;
}
.btn-black:hover {
  border: none;
}

.btn-black--2 {
  color: black;
  font-weight: 100;
  border: 1px solid black;
  padding: 1.5rem;
  padding-right: 10rem;
  align-self: end;
  position: relative;
  transition: all ease 0.3s;
}
.btn-black--2::before {
  content: "";
  display: block;
  border: 1px solid #bc0014;
  top: -0.7rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all ease 0.3s;
}
.btn-black--2:hover::before {
  top: 0rem;
  left: 0rem;
}
.btn-black--2:hover {
  border: none;
}

.about {
  background-color: #eee;
  padding-top: 22rem;
  padding-inline: 4rem;
  max-width: 140rem;
  margin: 0 auto;
  padding-inline: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
  padding-bottom: 12rem;
}
.about__description-text {
  grid-column: 1/-1;
  margin-bottom: 10rem;
}
.about__description-shorts {
  display: grid;
  place-items: center;
}
.about__description-shorts p {
  max-width: 25ch;
  margin-top: -6rem;
}

.team {
  display: grid;
  padding: 10rem 5rem;
  gap: 8rem;
  max-width: 140rem;
  margin: 0 auto;
  padding-inline: 2rem;
  padding-bottom: 12rem;
  align-items: center;
}
.team__title h2 {
  margin-bottom: 5rem;
}
.team__services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: space-betwen;
  gap: 4rem;
}
.team__services li {
  border: 1px solid #eee;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  max-width: 40rem;
  transition: all 0.3s ease;
}
.team__services li:hover {
  border: 1px solid #bc0014;
}

.services {
  display: grid;
  gap: 6rem;
  background-color: #eee;
  padding: 10rem 5rem;
  max-width: 140rem;
  margin: 0 auto;
  padding-inline: 2rem;
}
.services__description {
  display: grid;
  gap: 2rem;
}
.services__portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.services__portfolio .portfolio__card {
  max-width: 35rem;
  height: 50rem;
  display: grid;
  gap: 2rem;
  border: 1px solid #121111;
  box-shadow: 1px 1px 5px #121111;
  color: #121111;
  transition: all ease 0.3s;
  position: relative;
}
.services__portfolio .portfolio__card:hover {
  background-color: #121111;
  color: #eee;
}
.services__portfolio .portfolio__card-list {
  display: grid;
  gap: 0.2rem;
}
.services__portfolio .portfolio__card-list li {
  list-style: disc;
  margin-left: 4rem;
}
.services__portfolio .portfolio__card-btn {
  place-self: center;
  padding-bottom: 1rem;
}
.services__portfolio .portfolio__card-btn .btn-black--2 {
  padding-right: 2rem;
}
.services__portfolio .portfolio__card:nth-child(1)::before {
  content: "";
  width: 10rem;
  height: 0.5rem;
  display: block;
  bottom: -6rem;
  right: -9.5rem;
  color: #121111;
  background-color: #121111;
  position: absolute;
}
.services__portfolio .portfolio__card:nth-child(2)::before {
  content: "";
  width: 10rem;
  height: 0.5rem;
  display: block;
  bottom: -6rem;
  right: 12rem;
  background-color: #121111;
  position: absolute;
}
.services__portfolio .portfolio__card:nth-child(3)::before {
  content: "";
  width: 10rem;
  height: 0.5rem;
  display: block;
  bottom: -6rem;
  left: -9rem;
  color: #121111;
  background-color: #121111;
  position: absolute;
}
.services__portfolio .portfolio__card:hover::before {
  background-color: #bc0014;
}
.services__portfolio .portfolio__card:hover .btn-black--2 {
  color: #eee;
  border: 1px solid #d5d5d5;
}
.services__portfolio .btn-black--2:hover {
  border: none !important;
}

.customers {
  display: grid;
  position: relative;
  overflow: hidden;
  max-width: 140rem;
  margin: 0 auto;
  padding-inline: 2rem;
}
.customers__spam--1 {
  width: 150rem;
  font-size: 3rem;
  top: 5rem;
  text-align: left;
  position: absolute;
  padding: 0;
  margin: 0;
  left: -1rem;
}
.customers__spam--2 {
  width: 150rem;
  font-size: 2rem;
  text-align: left;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 15rem;
  left: -1rem;
}
.customers__logos {
  padding-top: 30rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  max-width: 140rem;
  margin: 0 auto;
  padding-inline: 2rem;
  margin-bottom: 12rem;
}
.customers__logos__card {
  width: 25rem;
  height: 25rem;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers__logos__card img {
  object-fit: cover;
  width: 80%;
  z-index: 999;
}
.customers__logos__card:hover {
  background-color: #bc0014;
  border: 1px solid #a2a2a2;
}
.customers__logos__card:nth-child(1) {
  position: relative;
}
.customers__logos__card:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4rem;
  background-color: #121111;
  bottom: 3rem;
  left: 0;
  display: block;
  filter: opacity(1);
}
.customers__logos__card:nth-child(1)::before {
  content: "";
  width: 8rem;
  height: 0.5rem;
  display: block;
  bottom: -6rem;
  right: -18rem;
  color: #121111;
  background-color: #eee;
  position: absolute;
}
.customers__logos__card:nth-child(2) {
  position: relative;
}
.customers__logos__card:nth-child(2)::before {
  content: "";
  width: 8rem;
  height: 0.5rem;
  display: block;
  bottom: -6rem;
  right: 0rem;
  color: #121111;
  background-color: #eee;
  position: absolute;
}
.customers__logos__card:nth-child(3) {
  position: relative;
}
.customers__logos__card:nth-child(3)::before {
  content: "";
  width: 8rem;
  height: 0.5rem;
  display: block;
  bottom: -6rem;
  left: 0rem;
  color: #121111;
  background-color: #eee;
  position: absolute;
}
.customers__logos__card:nth-child(4) {
  position: relative;
}
.customers__logos__card:nth-child(4)::before {
  content: "";
  width: 8rem;
  height: 0.5rem;
  display: block;
  bottom: -6rem;
  left: -18rem;
  color: #121111;
  background-color: #eee;
  position: absolute;
}
.customers .customers__logos__card:hover::before {
  background-color: #bc0014;
}

.works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  position: relative;
  max-width: 140rem;
  margin: 0 auto;
  padding-inline: 2rem;
  padding-bottom: 12rem;
}
.works::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5rem;
  bottom: 0;
  display: block;
  background-color: #eee;
  box-shadow: inset 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
}
.works__description {
  display: grid;
  gap: 4rem;
}
.works__description p {
  max-width: 24ch;
}
.works__description__btn {
  width: 30rem;
}
.works .works__description .btn::after {
  display: none;
}
.works .works__description .btn {
  margin: 0;
  padding-inline: 4rem;
}

.footer {
  padding-top: 12rem;
  display: grid;
  gap: 6rem;
  max-width: 140rem;
  margin: 0 auto;
  padding-inline: 2rem;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}
.footer__links__contacts {
  display: grid;
  gap: 2rem;
  margin-bottom: 6rem;
  place-items: center;
}
.footer__links__contacts-web {
  display: flex;
  gap: 1.6rem;
  font-size: 2.8rem;
}
.footer__links__contacts-web a {
  color: #eee;
}
.footer__links__contacts-web a:hover {
  color: #bc0014;
}
.footer__links-copy {
  max-width: 60ch;
}
.footer__links-copy spam {
  display: block;
  font-size: 1.8rem;
  color: #d5d5d5;
  font-weight: 200;
}
.footer__links__we-do {
  display: grid;
  gap: 2rem;
  margin-bottom: 6rem;
}
.footer__links__we-do a {
  color: #eee;
  display: block;
}
.footer__links__we-do li {
  color: #e1e1e1;
  font-weight: 200;
}
.footer__links__we-do li:hover::first-letter {
  color: #bc0014;
}
.footer__links__agency {
  display: grid;
  gap: 2rem;
  margin-bottom: 6rem;
}
.footer__links__agency a {
  display: block;
  color: #eee;
}
.footer__links__agency li {
  color: #e1e1e1;
  font-weight: 200;
}
.footer__links__agency li:hover::first-letter {
  color: #bc0014;
}

/*# sourceMappingURL=style.css.map */
