@charset "UTF-8";
/* 
-----------------------------------------------. 
!argumento do $breakpoint                      | 
...............................................| 
320px - 600px  mobile phone = phone            |
600px - 900px tablet-portrait = tab-port       |
900px - 1200px tablet-landscape = tab-land     |
1200px - 1800px tamanho normal do browser      |
1800px + big desktop = big-desktop      
xxpx/16px = xxem       |
-----------------------------------------------°
*/
.color-primary {
  color: #bc0014;
}

.color-secondary {
  color: #eee;
}

.color-terciary {
  color: #121111;
}

.defaut-font-primary {
  font: 400 3.6rem/1 "Roboto", sans-serif;
}

.defaut-font-secondary {
  font: 700 9.6rem/1 "Inter", sans-serif;
}

.menu-font-primary {
  font: 600 2rem/1 "Inter", sans-serif;
  text-transform: uppercase;
}

.menu-font-secondary {
  font: 500 2rem/1.5 "Inter", sans-serif;
}

.title-font-primary {
  font: 600 3.4rem/1 "Inter", sans-serif;
  text-transform: uppercase;
}
@media (min-width: 37.5rem) {
  .title-font-primary {
    font: 600 4.4rem/1 "Inter", sans-serif;
  }
}
@media (min-width: 62.5rem) {
  .title-font-primary {
    font: 600 5.4rem/1 "Inter", sans-serif;
  }
}
@media (min-width: 76.25rem) {
  .title-font-primary {
    font: 600 6.4rem/1 "Inter", sans-serif;
  }
}

.title-font-secondary {
  font: 500 8rem/1.5 "Inter", sans-serif;
  text-transform: uppercase;
}
@media (min-width: 37.5rem) {
  .title-font-secondary {
    font: 600 8.8rem/1 "Inter", sans-serif;
  }
}
@media (min-width: 48.12rem) {
  .title-font-secondary {
    font: 600 9.8rem/1 "Inter", sans-serif;
  }
}
@media (min-width: 62.5rem) {
  .title-font-secondary {
    font: 600 10.8rem/1 "Inter", sans-serif;
  }
}
@media (min-width: 76.25rem) {
  .title-font-secondary {
    font: 600 12.8rem/1 "Inter", sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 37.5%;
  scroll-behavior: smooth;
}
@media (min-width: 48.12rem) {
  html {
    font-size: 47.5%;
  }
}
@media (min-width: 62.5rem) {
  html {
    font-size: 56.2%;
  }
}
@media (min-width: 80rem) {
  html {
    font-size: 62.5%;
  }
}

body {
  min-height: 100vh;
  background-color: #121111;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navigation {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 48.12rem) {
  .navigation {
    display: flex;
    justify-content: center;
    gap: 1rem;
    max-width: max-content;
    align-items: center;
    background-color: #121111;
    height: 10rem;
    max-width: 140rem;
    margin: 0 auto;
    padding-inline: 2rem;
    flex-wrap: wrap;
    padding: 1rem 0;
  }
}
@media (min-width: 62.5rem) {
  .navigation {
    justify-content: space-between;
    gap: 2.6rem;
  }
}
.navigation__logo {
  display: block;
  width: 24rem;
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #eee;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 1rem;
  right: 4rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(18, 17, 17, 0.1);
  text-align: center;
  cursor: pointer;
}
@media (min-width: 48.12rem) {
  .navigation__button {
    display: none;
  }
}
.navigation__background {
  height: 3rem;
  width: 4rem;
  border-radius: 10%;
  position: fixed;
  top: 3rem;
  right: 5rem;
  background-image: linear-gradient(to left bottom, #121111 25%, #121111 100%);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(1, -0.35, 1, 1);
  box-shadow: 1px 1px 2rem #eee;
}
@media (min-width: 48.12rem) {
  .navigation__background {
    display: none;
    transition: none;
  }
}
.navigation__nav {
  height: 100vh;
  width: 57rem;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 1.47s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateX(67rem);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 2rem;
}
@media (min-width: 48.12rem) {
  .navigation__nav {
    transition: none;
  }
}
.navigation__nav__logo {
  place-self: center;
}
.navigation__nav__logo img {
  object-fit: cover;
}
@media (min-width: 48.12rem) {
  .navigation__nav__logo {
    display: none;
  }
}
@media (min-width: 48.12rem) {
  .navigation__nav {
    opacity: 1;
    position: static;
    max-width: max-content;
    transform: none;
    height: 4rem;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
.navigation__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  height: 60vh;
  padding-right: 1rem;
  margin-left: 4rem;
  gap: 3rem;
  max-width: 100%;
}
@media (min-width: 48.12rem) {
  .navigation__list {
    max-width: max-content;
    flex-direction: row;
    text-align: end;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
.navigation__list__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #eee;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #eee 50%);
  background-size: 270%;
  transition: all ease-in 0.4s;
}
@media (min-width: 48.12rem) {
  .navigation__link:link, .navigation__link:visited {
    font-size: initial;
    font-weight: 600;
    padding: 0;
    background-image: none;
    background-size: auto;
    transition: none;
    display: block;
  }
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #bc0014;
  transform: translate(1rem);
  text-shadow: none;
}
@media (min-width: 48.12rem) {
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #eee;
    transform: translate(0);
    text-shadow: none;
  }
}
.navigation__link:hover::first-letter {
  color: #bc0014;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scaleY(80) scale(24.5);
}
@media (min-width: 48.12rem) {
  .navigation__checkbox:checked ~ .navigation__background {
    transform: none;
  }
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  transform: translateX(0);
}
@media (min-width: 48.12rem) {
  .navigation__checkbox:checked ~ .navigation__nav {
    transform: none;
  }
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 4rem;
  height: 2.5px;
  background-image: linear-gradient(to left top, #bc0014, #bc0014);
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -1rem;
  background-color: linear-gradient(to left top, #bc0014, #bc0014);
}
.navigation__icon::after {
  top: 1rem;
  background-color: linear-gradient(to left top, #bc0014, #bc0014);
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-image: none;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(134deg);
  top: 0;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-134deg);
}

.home {
  background-color: #121111;
  display: flex;
  max-width: 140rem;
  margin: 0 auto;
  padding-inline: 2rem;
  padding: 0;
  position: relative;
}
.home__left {
  display: none;
}
@media (min-width: 37.5rem) {
  .home__left {
    display: flex;
    padding-bottom: 10rem;
    width: 50%;
    justify-content: end;
    align-items: flex-end;
  }
}
.home__left__btn {
  display: none;
}
@media (min-width: 37.5rem) {
  .home__left__btn {
    display: block;
  }
}
.home .home__container {
  width: 100%;
}
@media (min-width: 37.5rem) {
  .home .home__container {
    background-color: #bc0014;
    width: 70%;
    display: flex;
    position: relative;
  }
}
.home .home__container__img-primary {
  padding: 0;
}
.home .home__container__img-primary img {
  object-fit: cover;
  max-width: 100%;
  object-position: right;
}
.home .home__container h1 {
  display: flex;
  flex-direction: column;
}
.home .home__container h1 span:first-child {
  position: absolute;
  left: 2rem;
  top: 10rem;
  font-weight: 600;
}
@media (min-width: 37.5rem) {
  .home .home__container h1 span:first-child {
    left: -37rem;
    top: 10rem;
  }
}
@media (min-width: 48.12rem) {
  .home .home__container h1 span:first-child {
    left: -38.5rem;
    top: 11rem;
  }
}
@media (min-width: 62.5rem) {
  .home .home__container h1 span:first-child {
    left: -44.5rem;
    top: 10rem;
  }
}
@media (min-width: 76.25rem) {
  .home .home__container h1 span:first-child {
    left: -53rem;
    top: 10rem;
  }
}
.home .home__container h1 span:nth-child(2) {
  position: absolute;
  color: #121111;
  font-weight: 600;
  left: 2rem;
  top: 11rem;
}
@media (min-width: 37.5rem) {
  .home .home__container h1 span:nth-child(2) {
    color: #bc0014;
    left: -28rem;
    top: 13.5rem;
  }
}
@media (min-width: 48.12rem) {
  .home .home__container h1 span:nth-child(2) {
    left: -31.5rem;
    top: 15rem;
  }
}
@media (min-width: 62.5rem) {
  .home .home__container h1 span:nth-child(2) {
    left: -34.5rem;
    top: 15rem;
  }
}
@media (min-width: 76.25rem) {
  .home .home__container h1 span:nth-child(2) {
    left: -41rem;
    top: 15rem;
  }
}
.home .home__container h1 span:nth-child(3) {
  font-weight: 600;
  position: absolute;
  left: 2rem;
  top: 18rem;
}
@media (min-width: 37.5rem) {
  .home .home__container h1 span:nth-child(3) {
    left: -22rem;
    top: 21rem;
  }
}
@media (min-width: 48.12rem) {
  .home .home__container h1 span:nth-child(3) {
    left: -25rem;
    top: 23rem;
  }
}
@media (min-width: 62.5rem) {
  .home .home__container h1 span:nth-child(3) {
    left: -27.5rem;
    top: 24rem;
  }
}
@media (min-width: 76.25rem) {
  .home .home__container h1 span:nth-child(3) {
    left: -32rem;
    top: 26rem;
  }
}
.home .home__container .home__img-secondary {
  display: none;
}
@media (min-width: 37.5rem) {
  .home .home__container .home__img-secondary {
    position: absolute;
    width: 30rem;
  }
}
@media (min-width: 37.5rem) and (min-width: 48.12rem) {
  .home .home__container .home__img-secondary {
    display: block;
    bottom: -20rem;
    left: -15rem;
  }
}
@media (min-width: 37.5rem) and (min-width: 62.5rem) {
  .home .home__container .home__img-secondary {
    left: -14.5rem;
    top: 36rem;
  }
}
@media (min-width: 37.5rem) and (min-width: 76.25rem) {
  .home .home__container .home__img-secondary {
    left: -14.5rem;
    top: 40rem;
  }
}

.btn {
  color: #d5d5d5;
  font-weight: 100;
  border: 1px solid #d5d5d5;
  padding: 2rem 5rem;
  padding-right: 4rem;
  margin-right: 4rem;
  align-self: end;
  position: relative;
  transition: all ease 0.3s;
}
@media (min-width: 37.5rem) {
  .btn {
    padding: 2rem 5rem;
    padding-right: 4rem;
    margin-right: 18rem;
    align-self: end;
    position: relative;
    transition: all ease 0.3s;
  }
}
@media (min-width: 62.5rem) {
  .btn {
    padding-right: 10rem;
  }
  .btn::after {
    content: "";
    display: block;
    background-image: url("/assets/img/Arrow 1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 45%;
    right: 10%;
    width: 6rem;
    height: 1rem;
    position: absolute;
    color: #bc0014;
  }
}
.btn::before {
  content: "";
  display: block;
  border: 1px solid #bc0014;
  top: -0.7rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all ease 0.3s;
}
.btn:hover::before {
  top: 0rem;
  left: 0rem;
}
.btn:hover {
  border: none;
}

.btn-black {
  color: black;
  font-weight: 100;
  border: 1px solid black;
  padding: 1.5rem;
  align-self: end;
  position: relative;
  transition: all ease 0.3s;
}
@media (min-width: 48.12rem) {
  .btn-black {
    padding-right: 10rem;
  }
}
.btn-black::after {
  display: none;
}
@media (min-width: 48.12rem) {
  .btn-black::after {
    content: "";
    display: block;
    background-image: url("/assets/img/Arrow 2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 45%;
    right: 15%;
    width: 6rem;
    height: 1rem;
    position: absolute;
    color: #121111;
  }
}
.btn-black::before {
  content: "";
  display: block;
  border: 1px solid #bc0014;
  top: -0.7rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all ease 0.3s;
}
.btn-black:hover::before {
  top: 0rem;
  left: 0rem;
}
.btn-black:hover {
  border: none;
}

.btn-black--2 {
  color: black;
  font-weight: 100;
  border: 1px solid black;
  padding: 1.5rem;
  padding-right: 10rem;
  align-self: end;
  position: relative;
  transition: all ease 0.3s;
}
.btn-black--2::before {
  content: "";
  display: block;
  border: 1px solid #bc0014;
  top: -0.7rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all ease 0.3s;
}
.btn-black--2:hover::before {
  top: 0rem;
  left: 0rem;
}
.btn-black--2:hover {
  border: none;
}

.about {
  background-color: #eee;
  max-width: 140rem;
  margin: 0 auto;
  padding-inline: 2rem;
  display: grid;
  gap: 4rem;
  padding-bottom: 12rem;
  padding-top: 12rem;
}
@media (min-width: 37.5rem) {
  .about {
    grid-template-columns: 2fr 1fr;
  }
}
@media (min-width: 48.12rem) {
  .about {
    padding-top: 22rem;
    padding-inline: 4rem;
    padding-bottom: 12rem;
  }
}
.about__description-text {
  grid-column: 1/-1;
  margin-bottom: 10rem;
}
.about__description-shorts {
  display: grid;
  place-items: center;
}
.about__description-shorts img {
  display: none;
}
@media (min-width: 62.5rem) {
  .about__description-shorts img {
    display: block;
  }
}
.about__description-shorts p {
  display: none;
  max-width: 25ch;
  margin-top: -3rem;
}
@media (min-width: 62.5rem) {
  .about__description-shorts p {
    display: block;
  }
}

.team {
  display: grid;
  padding: 10rem 5rem;
  gap: 8rem;
  max-width: 140rem;
  margin: 0 auto;
  padding-inline: 2rem;
  padding-bottom: 12rem;
  align-items: center;
}
.team__title h2 {
  margin-bottom: 5rem;
}
.team__services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media (min-width: 37.5rem) {
  .team__services {
    grid-template-columns: 1fr 1fr 1fr;
    place-items: space-betwen;
    gap: 4rem;
  }
}
.team__services li {
  border: 1px solid #eee;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  max-width: 40rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.team__services li:hover {
  border: 1px solid #bc0014;
}

.services {
  display: grid;
  gap: 6rem;
  background-color: #eee;
  padding: 10rem 5rem;
  max-width: 140rem;
  margin: 0 auto;
  padding-inline: 2rem;
}
.services__description {
  display: grid;
  gap: 2rem;
}
.services__portfolio {
  display: grid;
  margin-inline: auto;
  gap: 8rem;
}
@media (min-width: 37.5rem) {
  .services__portfolio {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.services__portfolio .portfolio__card {
  max-width: 45rem;
  height: 50rem;
  display: grid;
  gap: 2rem;
  border: 1px solid #121111;
  box-shadow: 1px 1px 5px #121111;
  color: #121111;
  transition: all ease 0.3s;
  position: relative;
  cursor: pointer;
}
@media (min-width: 37.5rem) {
  .services__portfolio .portfolio__card {
    max-width: 35rem;
  }
}
.services__portfolio .portfolio__card:hover {
  background-color: #121111;
  color: #eee;
}
.services__portfolio .portfolio__card-list {
  display: grid;
  gap: 0.2rem;
}
.services__portfolio .portfolio__card-list li {
  list-style: disc;
  margin-left: 4rem;
}
.services__portfolio .portfolio__card-btn {
  place-self: center;
  padding-bottom: 1rem;
}
.services__portfolio .portfolio__card-btn .btn-black--2 {
  padding-right: 2rem;
}
@media (min-width: 37.5rem) {
  .services__portfolio .portfolio__card:nth-child(1)::before {
    content: "";
    width: 10rem;
    height: 0.5rem;
    display: block;
    bottom: -6rem;
    right: -9.5rem;
    color: #121111;
    background-color: #121111;
    position: absolute;
  }
}
@media (min-width: 37.5rem) {
  .services__portfolio .portfolio__card:nth-child(2)::before {
    content: "";
    width: 10rem;
    height: 0.5rem;
    display: block;
    bottom: -6rem;
    right: 12rem;
    background-color: #121111;
    position: absolute;
  }
}
@media (min-width: 37.5rem) {
  .services__portfolio .portfolio__card:nth-child(3)::before {
    content: "";
    width: 10rem;
    height: 0.5rem;
    display: block;
    bottom: -6rem;
    left: -9rem;
    color: #121111;
    background-color: #121111;
    position: absolute;
  }
}
.services__portfolio .portfolio__card:hover::before {
  background-color: #bc0014;
}
.services__portfolio .portfolio__card:hover .btn-black--2 {
  color: #eee;
  border: 1px solid #d5d5d5;
}
.services__portfolio .btn-black--2:hover {
  border: none !important;
}

.customers {
  display: grid;
  position: relative;
  overflow: hidden;
  max-width: 140rem;
  margin: 0 auto;
  padding-inline: 2rem;
}
.customers__spam--1 {
  width: 150rem;
  font-size: 3rem;
  top: 5rem;
  text-align: left;
  position: absolute;
  padding: 0;
  margin: 0;
  left: -1rem;
}
.customers__spam--2 {
  width: 150rem;
  font-size: 2rem;
  text-align: left;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 15rem;
  left: -1rem;
}
.customers__logos {
  padding-top: 30rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 4rem;
  gap: 4rem;
  max-width: 140rem;
  margin: 0 auto;
  padding-inline: 2rem;
  margin-bottom: 12rem;
  margin-inline: auto;
  width: 96%;
  height: 45vh;
  overflow: hidden;
  overflow-x: auto;
  align-items: auto;
}
@media (min-width: 48.12rem) {
  .customers__logos {
    height: 55vh;
  }
}
@media (min-width: 62.5rem) {
  .customers__logos {
    padding-inline: 1rem;
    height: 70vh;
    overflow: hidden;
    padding-bottom: 0;
  }
}
.customers__logos__card {
  width: 25rem;
  height: 25rem;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.customers__logos__card img {
  object-fit: cover;
  width: 80%;
  z-index: 999;
}
.customers__logos__card:hover {
  background-color: #bc0014;
  border: 1px solid #a2a2a2;
}
.customers__logos__card:nth-child(1) {
  position: relative;
}
.customers__logos__card:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4rem;
  background-color: #121111;
  bottom: 3rem;
  left: 0;
  display: block;
  filter: opacity(1);
}
.customers__logos__card:nth-child(1)::before {
  content: "";
  width: 8rem;
  height: 0.5rem;
  bottom: -6rem;
  right: -18rem;
  color: #121111;
  background-color: #eee;
  position: absolute;
  display: none;
}
@media (min-width: 62.5rem) {
  .customers__logos__card:nth-child(1)::before {
    display: block;
  }
}
.customers__logos__card:nth-child(2) {
  position: relative;
}
.customers__logos__card:nth-child(2)::before {
  content: "";
  width: 8rem;
  height: 0.5rem;
  bottom: -6rem;
  right: 0rem;
  color: #121111;
  background-color: #eee;
  position: absolute;
  display: none;
}
@media (min-width: 62.5rem) {
  .customers__logos__card:nth-child(2)::before {
    display: block;
  }
}
.customers__logos__card:nth-child(3) {
  position: relative;
}
.customers__logos__card:nth-child(3)::before {
  content: "";
  width: 8rem;
  height: 0.5rem;
  bottom: -6rem;
  left: 0rem;
  color: #121111;
  background-color: #eee;
  position: absolute;
  display: none;
}
@media (min-width: 62.5rem) {
  .customers__logos__card:nth-child(3)::before {
    display: block;
  }
}
.customers__logos__card:nth-child(4) {
  position: relative;
}
.customers__logos__card:nth-child(4)::before {
  content: "";
  width: 8rem;
  height: 0.5rem;
  bottom: -6rem;
  left: -18rem;
  color: #121111;
  background-color: #eee;
  position: absolute;
  display: none;
}
@media (min-width: 62.5rem) {
  .customers__logos__card:nth-child(4)::before {
    display: block;
  }
}
.customers .customers__logos__card:hover::before {
  background-color: #bc0014;
}

.works {
  display: grid;
  gap: 4rem;
  position: relative;
  max-width: 140rem;
  margin: 0 auto;
  padding-inline: 2rem;
  padding-bottom: 12rem;
}
@media (min-width: 37.5rem) {
  .works {
    grid-template-columns: 1fr 1fr;
  }
}
.works::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5rem;
  bottom: 0;
  display: block;
  background-color: #eee;
  box-shadow: inset 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
}
.works__description {
  display: grid;
  gap: 6rem;
  place-items: center;
}
@media (min-width: 37.5rem) {
  .works__description {
    place-items: initial;
  }
}
.works__description p {
  max-width: 60ch;
}
@media (min-width: 37.5rem) {
  .works__description p {
    max-width: 24ch;
  }
}
.works__description__btn {
  width: 30rem;
  place-self: center;
}
.works .works__description .btn::after {
  display: none;
}
.works .works__description .btn {
  margin: 0;
  padding-inline: 4rem;
}

.footer {
  padding-top: 12rem;
  display: grid;
  gap: 10rem;
  max-width: 140rem;
  margin: 0 auto;
  padding-inline: 2rem;
}
.footer__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
}
@media (min-width: 37.5rem) {
  .footer__links {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6rem;
  }
}
.footer__links__contacts {
  display: grid;
  gap: 2rem;
  margin-bottom: 6rem;
  place-items: center;
  grid-column: 1/-1;
  grid-row: 2;
}
@media (min-width: 37.5rem) {
  .footer__links__contacts {
    grid-column: auto;
    grid-row: auto;
  }
}
.footer__links__contacts-web {
  display: flex;
  gap: 1.6rem;
  font-size: 2.8rem;
}
.footer__links__contacts-web a {
  color: #eee;
}
.footer__links__contacts-web a:hover {
  color: #bc0014;
}
.footer__links-copy {
  max-width: 60ch;
}
.footer__links-copy spam {
  display: block;
  font-size: 1.8rem;
  color: #d5d5d5;
  font-weight: 200;
}
.footer__links__we-do {
  display: grid;
  gap: 2rem;
  margin-bottom: 6rem;
}
.footer__links__we-do a {
  color: #eee;
  display: block;
}
.footer__links__we-do li {
  color: #e1e1e1;
  font-weight: 200;
}
.footer__links__we-do li:hover::first-letter {
  color: #bc0014;
}
.footer__links__agency {
  display: grid;
  gap: 2rem;
  margin-bottom: 6rem;
}
.footer__links__agency a {
  display: block;
  color: #eee;
}
.footer__links__agency li {
  color: #e1e1e1;
  font-weight: 200;
}
.footer__links__agency li:hover::first-letter {
  color: #bc0014;
}

::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  background-color: #eee;
  box-shadow: inset 1px 1px 4px rgba(188, 0, 20, 0.2);
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#121111, #560009);
  box-shadow: inset 0px 0px 3px rgba(238, 238, 238, 0.5);
  border-radius: 1px;
}

/*# sourceMappingURL=style.css.map */
